<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head %>
        <title>Weather App</title>
    </head>
    <body>
        <% include ./partials/nav %> 
        <h1 class='makeWhite'>Welcome to the weather app</h1>
        
        <h3 class='makeWhite'>register and login with links in NAV</h3>

        <% include ./partials/scripts %> 
    </body>
</html>
