<!DOCTYPE html>
<html>
    <head>
        <% include ./partials/head %>
        <title>Weather App</title>
    </head>
    <body>
        <% include ./partials/nav %> 
        <h1>Welcome to the weather app</h1>
        
        <h3>register and login with links in NAV</h3>

        <h4>AINT SHIT HERE FOR YOU</h4>





        <% include ./partials/scripts %> 
    </body>
</html>
